.pointsRecapContainer{
  display: flex;
}
.totalpointsHolder{
  width: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.recapContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wordcard .blankside {
  transform: rotateY(90deg);
  transition: all ease-in 0.15s;
}
.flipped .blankside {
  transform: rotateY(0deg);
  transition-delay: 0.15s;
}
