*{
  box-sizing: border-box;
}
.sidePanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100px;
}
#slideshowContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;



}
#slideandback{
  display: none;
  border: 1px dashed;
}
.navbutton{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width: 100%;
  height: 100%;
  display: none;
  padding: 10px;

}
#mainPanel{
  border: 1px dashed;
  width: 600px;
  height: 600px;
}

.centerbutton{
  width: 220px;
  height: 40px;
  text-align: center;
  /* border-style: double;
border-width: 5px;
border-color: #27b2d8; */
}
.homepageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: repeating-linear-gradient(
45deg,
#27b6d8,
#27b6d8 5px,
#27c2d8 5px,
#27c2d8 10px
); */
}
.optionContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 500px;
}
#inputCode{
  display: none;
}
#snapvid{
  width: 220px;
  height: 220px;
}
