.colorButton{
  width: 25px;
  height: 25px;
  float: left;
}
.colorRow{
  clear: both;
}
.colorDisplay{
  float: left;
  width: 25px;
  height: 50px;

}
.colorHolder{
  float: left;
  margin-left: 10px;
}
